{% extends "base_generic.html" %}

{% block content %}
  <h1>My Library Home</h1>
  <p>Welcome to MyLibrary, a website, which contains cool books and their movie adaptations!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Adaptations:</strong> {{ num_adaptations }}</li>
    <li><strong>Directors:</strong> {{ num_directors }}</li>
    
  </ul>
{% endblock %}