{% extends "base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  
  <h4>Filter by:</h4>

  <form method="GET" action=".">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="filterDate">Date of birth</label>
      <input type="date" placeholder="yyyy-mm-dd" class="form-control" id="filterDate" name="filterDate">
    </div>
    <div class="form-group col-md-3">
      <label for="filterFirstName">First name</label>
      <input type="text" class="form-control" placeholder="First name contains..." id="filterFirstName" name="filterFirstName">
    </div>
    <div class="form-group col-md-3">
        <label for="filterLastName">Last name</label>
        <input type="text" class="form-control" placeholder="Last name contains..." id="filterLastName" name="filterLastName">
      </div>
    <div class="form-group col-md-2">
      <label for="filterNationality">Nationality</label>
      <select id="filterNationality" class="form-control" name="filterNationality">
        <option selected>Choose nationality...</option>
        {% for nat in nationality %}
        <option value="{{ nat }}">{{ nat }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Filter">
  <a class="btn btn-primary" href="{% url 'authors' %}" id="reset_button">Reset</a>

  </form>
  <hr />

  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }} ({{ author.date_of_birth }} - {{ author.date_of_death }})</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors in the database.</p>
  {% endif %}       
{% endblock %}