{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p> 
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
  <p><strong>Publication year:</strong> {{ book.year }}</p> 
  <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>  

  <!-- <div style="margin-left:20px;margin-top:20px">
    <h4>Adaptations</h4>
    {% if movie_list %}
      {% for movie in original.adaptation_set.all %}
        <p><strong>Adaptation:</strong> {{ movie.title }}</p>
        <p><strong>Release year:</strong> {{ movie.year }}</p>
      {% endfor %}
    {% else %}
      <p><strong>There are no movie adaptations of this book yet.</strong></p>
    {% endif %}
  </div> -->

  <div style="margin-left:20px;margin-top:20px">
    <h4>Adaptations</h4>
    {% if book.adaptation_set.all %} 
      <!-- book.has_adaptation = True -->
      {% for adaptation in book.adaptation_set.all %}
        <hr>
        <p><strong><a href="{% url 'adaptation-detail' adaptation.pk %}">{{ adaptation.title }}</a></strong> ({{ adaptation.year }})</p>
        <!-- <p class="text-muted"><strong>Publication year:</strong> {{ book.year }}</p> -->
     {% endfor %}
    {% else %}
      <p class="text-muted">There are no adaptations of this book yet.</p>
    {% endif %}
  </div>
{% endblock %}